[Desktop Entry]
Version=1.0
Name=Csilszim
GenericName=Csilszim
Comment=An astronomical simulator
Terminal=false
Type=Application
Categories=Utility
Keywords=Flutter;share;files;